{% extends 'layout.html' %}
{% block title %}about{% endblock title %}
{% block body %}

<!-- Page Header -->
<header class="masthead" style="background-image: url(' {{ url_for('static',filename='img/about-bg.jpg') }} ')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-4  col-md-10 col-sm-11 mx-auto">
      <div class="card" >
        <img src="static/img/myimg2.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"> {{params['about_text']}}</p>
          <a href="https://arpit456jain.github.io/CodeSmashers/Portfolio/index.html" class="btn btn-primary">Visit
            Portfolio</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock body %}